<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Modifier informations patient</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Patients</span>
            </li>
            <li class="breadcrumb-item active">Modifier les informations d'un patient</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                <span class="fa fa-user text-success"></span> Modification
            </div>
            <div class="card-body">
                <form name="f" action="#" th:action="@{/Gestion_Laboratoire_EMMAUS/patient/modifier/{id}(id=${patient.getIdPersonne()})}" method="post" th:object="${patient}">
                    <fieldset>

                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" th:field="*{nom}" class="form-control" id="nom" name="nom"
                                   placeholder="Nom"/>
                            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="prenom">Prenom</label>
                            <input type="text" th:field="*{prenom}" class="form-control" id="prenom" name="prenom"
                                   placeholder="Prenom"/>
                            <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="date">Date de naissance</label>
                            <input type="date" th:field="*{date}" class="form-control" id="date" name="date"
                                   placeholder="dd-MM-yyyy"/>
                            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="telephone">Telephone</label>
                            <input type="number" th:field="*{telephone}" class="form-control" id="telephone" name="telephone"
                                   placeholder="Telephone"/>
                            <span th:if="${#fields.hasErrors('telephone')}" class="errorlist">Numero invalide</span>
                        </div>

                        <div class="form-group">
                            <label>Sexe: </label>
                            <input type="radio" name="sexe" value="MASCULIN" checked/>Masculin
                            <input type="radio" name="sexe" value="FEMININ"/>Feminin
                        </div>

                        <div class="form-actions" style="margin-top: 12px;">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
        <div th:include="fragment/footer.html"></div></div></div>
</body>

</html>
