<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Créer une facture</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Facture</span>
            </li>
            <li class="breadcrumb-item active">Création</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <div style="width:700px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
            <div style="margin-bottom: 2%"
                 th:if="${message != 'null' && message != 'pdf généré! consultez le dossier Documents'}"
                 class="alert alert-success"> Ajout à la facture réussi
            </div>

            <div class="card">
                <div class="card-header">
                    <span class="fa fa-money-bill text-success"></span> Création d'une facture
                </div>
                <div th:if="${facture != null}" class="card-block" style="padding: 24px;">
                    <form
                            name="f"
                            action="#"
                            th:action="@{/Gestion_Laboratoire_EMMAUS/facture/enregistrer/{id}/{idFacture}(id=${examenSouscrits.get(0).patient.getIdPersonne()},idFacture=${facture.getIdFacture()})}"
                            method="post" th:object="${examenSouscrit}">
                        <fieldset>

                            <div class="form-group">
                                <select class="form-control" id="examen" name="examenSouscrit">
                                    <option th:each="selectExamenSouscrit:${examenSouscrits}"
                                            th:value="${selectExamenSouscrit.getIdExamenPasser()}"
                                            th:text="${selectExamenSouscrit.getExamen().getCode()} + ' ' + ${selectExamenSouscrit.getExamen().getLibelle()} + ' du ' + ${#dates.format(selectExamenSouscrit.getDate(),'yyyy-MM-dd HH:mm')}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-actions" style="margin-top: 12px;">
                                <button type="submit" class="btn btn-success">Enregistrer</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div th:if="${facture == null}" class="card-block" style="padding: 24px;">
                    <form name="fa" action="#"
                          th:action="@{/Gestion_Laboratoire_EMMAUS/facture/enregistrer/{id}/0(id=${examenSouscrits.get(0).patient.getIdPersonne()})}"
                          method="post" th:object="${examenSouscrit}">
                        <fieldset>

                            <div class="form-group">
                                <label>
                                    <select id="exa" class="form-control" name="examenSouscrit">
                                        <option th:each="selectExamenSouscrit:${examenSouscrits}"
                                                th:value="${selectExamenSouscrit.getIdExamenPasser()}"
                                                th:text="${selectExamenSouscrit.getExamen().getLibelle()} + ' du ' + ${#dates.format(selectExamenSouscrit.getDate(),'yyyy-MM-dd HH:mm')}">
                                        </option>
                                    </select>
                                </label>
                            </div>

                            <div class="form-actions" style="margin-top: 12px;">
                                <button type="submit" class="btn btn-success">Enregistrer</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragment/footer.html"></div>
</div>
</body>

</html>
