<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Détails facture</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Factures</span>
            </li>
            <li class="breadcrumb-item active">
                Liste des examens facturés à <span th:text="${facture.getExamenSouscrits().get(0).getPatient().getNom()} + ' ' + ${facture.getExamenSouscrits().get(0).getPatient().getPrenom()}">

                                    </span>
            </li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <div style="margin-bottom: 2%">
            <span>
                        <a th:href="@{/facture/print-facture/{id}(id=${facture.getIdFacture()})}"
                           class="btn btn-outline-success"><i class="fa fa-file-pdf">Générer PDF</i></a></span>

            <span  style="margin-left: 2%">
                        <a th:href="@{/facture/delete/{id}(id=${facture.getIdFacture()})}"
                           class="btn btn-outline-danger"><i class="fa fa-trash">Supprimer</i></a>
            </span>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-thermometer"></i> Liste des examens facturés</div>
            <div class="card-body">

                <div class="table-responsive" >
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Code Examen</th>
                            <th>Libellé Examen</th>
                            <th>Medecin responsable</th>
                            <th>Date de prescription</th>
                            <th>Prix</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Code Examen</th>
                            <th>Libellé Examen</th>
                            <th>Medecin responsable</th>
                            <th>Date de prescription</th>
                            <th>Prix</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="examenSouscrit : ${examenSouscrits}">
                            <td th:text="${examenSouscrit.getExamen().getCode()}"></td>
                            <td th:text="${examenSouscrit.getExamen().getLibelle()}"></td>
                            <td  th:text="'Docteur ' +${examenSouscrit.getConsultation().getPrescripteur()}"></td>
                            <td th:text="${examenSouscrit.getDate()}" ></td>
                            <td th:text="${examenSouscrit.getExamen().getPrix()} + ' FCFA'"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragment/footer.html"></div></div>
</body>

</html>
