<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Liste des factures</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<script>
    function deletebox(idFacture) {
        if (confirm("Voulez vous vraiment supprimer?")) {
            open("/facture/delete/" + idFacture, "_top");
        }
    }

</script>
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Factures</span>
            </li>
            <li class="breadcrumb-item active">Liste des factures</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->


        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-money-bill"></i> Liste des factures
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Patient</th>
                            <th>Somme</th>
                            <th>Date de création</th>
                            <th>Utilisateur responsable</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Patient</th>
                            <th>Somme</th>
                            <th>Date de création</th>
                            <th>Utilisateur responsable</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="facture : ${factures}">

                            <td>
                                <a style="text-decoration: none;"
                                   th:href="@{/examenSouscrit/profil-patient/{id}(id=${facture.getExamenSouscrits().get(0).getPatient().getIdPersonne()})}">
                                    <span th:text="${facture.getExamenSouscrits().get(0).getPatient().getNom()} + ' ' + ${facture.getExamenSouscrits().get(0).getPatient().getPrenom()}">

                                    </span>
                                </a>
                            </td>
                            <td th:text="${facture.getSomme()} + ' FCFA'"></td>
                            <td th:text="${#dates.format(facture.getDateCreationOriginale(),'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${facture.getUtilisateur().getNom()} + ' ' + ${facture.getUtilisateur().getPrenom()}"></td>
                            <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_UTILISATEUR')">
                                <a th:href="@{/facture/detail-facture/{id}(id=${facture.getIdFacture()})}"
                                   class="btn btn-outline-primary">
                                    <i class="fa fa-expand-alt"></i>
                                </a>
                                <a th:href="@{/facture/print-facture/{id}(id=${facture.getIdFacture()})}"
                                   class="btn btn-outline-success">
                                    <i class="fa fa-file-pdf"></i>
                                </a>
                                <button
                                        class="btn btn-outline-primary" style="margin-left: 1%"
                                        th:onclick="'deletebox(\'' + ${facture.getIdFacture()} + '\');'">
                                    <span class="fa fa-trash text-danger"></span>
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragment/footer.html"></div>
</div>
</body>

</html>
