<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Prescrire un examen</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/Gestion_Laboratoire_EMMAUS/examenSouscrit/profil-patient/{id}(id=${patient})}"
                >
                    <span>Profil du patient</span>
                </a>
            </li>
            <li class="breadcrumb-item active">Prescrire un examen</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <div style="width:700px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
            <div class="card">
                <div class="card-header">
                    <span class="fa fa-syringe text-success">Prescription d'un examen</span>
                </div>
                <div class="card-block" style="padding: 24px;">
                    <form name="f" action="#"
                          th:action="@{/Gestion_Laboratoire_EMMAUS/examenSouscrit/enregistrer/{id}/{idConsultation}(id=${patient},idConsultation=${consultation})}"
                          method="post" th:object="${examen.getLibelle()}">
                        <fieldset>

                            <div class="form-group">
                                <select class="form-control" id="examen" name="examen">
                                    <option th:each="selectExamen:${examens}" th:value="${selectExamen.getIdExamen()}"
                                            th:text="${selectExamen.getCode()} + ' ' + ${selectExamen.getLibelle()}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-actions" style="margin-top: 12px;">
                                <button type="submit" class="btn btn-success">Enregistrer</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div th:include="fragment/footer.html"></div>
</div>
</body>

</html>
