<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Enregistrer la valeur prélevée</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/Gestion_Laboratoire_EMMAUS/examenSouscrit/profil-patient/{id}(id=${patient.getIdPersonne()})}"
                >
                    <span>Examens du patient</span>
                </a>
            </li>
            <li class="breadcrumb-item active">Résultat</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <div style="width:700px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
            <div class="card">
                <div class="card-header">
                    Valeur résultat de l'examen du patient <span th:text="${patient.nom}"></span> à l'examen <span
                        th:text="${examenSouscrit.examen.libelle}"></span>
                </div>
                <div class="card-block" style="padding: 24px;">
                    <form name="f" action="#"
                          th:action="@{/Gestion_Laboratoire_EMMAUS/examenSouscrit/enregistrerValeurNormale/{idPatient}/{idExamenSouscrit}(idPatient=${patient.getIdPersonne()},idExamenSouscrit=${examenSouscrit.getIdExamenPasser()})}"
                          method="post">
                        <fieldset>

                            <div class="form-group">
                                <label for="valeur">Valeur résultat</label>
                                <input type="number" step="0.01" class="form-control" id="valeur" name="valeur"
                                />
                            </div>

                            <div class="form-group">
                                <label for="unite">Unité</label>
                                <input type="text" class="form-control" id="unite" name="unite"
                                       placeholder="g/l par exemple"/>
                            </div>

                            <div class="form-actions" style="margin-top: 12px;">
                                <button type="submit" class="btn btn-success">Enregistrer</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div th:include="fragment/footer.html"></div>
</div>
</body>

</html>
