<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Informations du patient</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<script>
    function deletebox(idExamen, idPatient) {
        if (confirm("Voulez vous vraiment supprimer?")) {
            open("/examenSouscrit/delete/" + idExamen + "/" + idPatient, "_top");
        }
    }

    function deleteConsultation(idConsultation, idPatient) {
        if (confirm("Voulez vous vraiment supprimer?")) {
            open("/consultation/delete/" + idConsultation + "/" + idPatient, "_top");
        }
    }

    function terminerConsultation(idConsultation) {
        if (confirm("Voulez vous vraiment terminer la consultation?")) {
            open("/consultation/terminerConsultation/" + idConsultation, "_top");
        }
    }

    function activerConsultation(idConsultation) {
        if (confirm("Voulez vous réactiver la  consultation?")) {
            open("/consultation/activerConsultation/" + idConsultation, "_top");
        }
    }

</script>
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Patients</span>
            </li>
            <li class="breadcrumb-item active">Informations du patient</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <div>
            <div style="width:800px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
                <div class="card">
                    <div class="card-header">
                        <span class="fa fa-user"></span> Details du patient
                    </div>
                    <div class="card-block" style="padding: 24px;">
                        <div class="row">
                            <div class="col">
                                <label>Nom: </label>
                                <span th:text="${patient.getNom()}"></span>
                            </div>
                            <div class="col">
                                <label>Prenom: </label>
                                <span th:text="${patient.getPrenom()}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Date de naissance: </label>
                                <span th:text="${#dates.format(patient.getDate(),'yyyy-MM-dd')}"></span>
                            </div>
                            <div class="col">
                                <label>Sexe: </label>
                                <span th:text="${patient.getSexe()}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Telephone: </label>
                                <span th:text="${patient.getTelephone()}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Date d'enregistrement: </label>
                                <span th:text="${#dates.format(patient.getDateEnregistrement(),'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                        </div>
                        <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="col">
                                <label>Date de dernière modification: </label>
                                <span th:text="${#dates.format(patient.getDateModification(),'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom:1%">

            <a class="btn btn-outline-primary" sec:authorize="hasAnyRole('ROLE_ADMIN','UTILISATEUR')"
               data-toggle="modal" data-target="#consultation">
                <i class="fa fa-fw fa-stethoscope"></i>Créer une consultation</a>

            <div sec:authorize="hasRole('MEDECIN')">
                <form method="post"
                      th:action="@{/consultation/enregistrer/{id}(id=${patient.getIdPersonne()})}">
                    <div class="form-actions" style="margin-top: 12px;">
                        <button type="submit" class="btn btn-outline-primary"><i class="fa fa-thermometer-full">Créer
                            une consultation</i></button>
                    </div>
                </form>
            </div>

            <span sec:authorize="hasAnyRole('ROLE_ADMIN','UTILISATEUR')">
						<a th:href="@{/facture/ajout-facture/{id}/0(id=${patient.getIdPersonne()})}"
                           class="btn btn-outline-success"><i class="fa fa-money-bill">Créer une Facture</i></a>
            </span>


        </div>
        <div class="card mb-3" th:if="${consultations.size() != 0}" th:each="consultation: ${consultations}">
            <div class="card-header">
                <i class="fa fa-thermometer"></i> examens prescrits par <span class="highlight"
                                                                              th:text="${consultation.getPrescripteur()}">
            </span> le <span th:text="${#dates.format(consultation.getDateConsultation(),'yyyy-MM-dd')}"></span></div>
            <div class="card-body">
                <div style="margin-bottom: 1%">
                    <a th:if="${consultation.getStatut() == 'EN_COURS'}"
                       th:href="@{/examenSouscrit/addExamenSouscrit/{id}/{idConsultation}(id=${patient.idPersonne},idConsultation=${consultation.getIdConsultation()})}"
                       class="btn btn-outline-success"><i class="fa fa-syringe">Prescrire un examen</i></a>

                    <a th:href="@{/consultation/print-resultat/{id}/{idConsultation}(id=${patient.idPersonne},idConsultation=${consultation.getIdConsultation()})}"
                       class="btn btn-outline-warning"><i class="fa fa-print">Imprimer les résultats</i></a>


                    <button th:if="${consultation.getStatut() == 'EN_COURS'}"
                            class="btn btn-outline-primary" style="margin-left: 1%"
                            th:onclick="'terminerConsultation(\'' + ${consultation.getIdConsultation()} + '\');'">
                        <span class="fa fa-power-off text-secondary">Terminer la consultation</span>
                    </button>

                    <button sec:authorize="hasRole('ROLE_ADMIN')" th:if="${consultation.getStatut() == 'TERMINE'}"
                            class="btn btn-outline-primary" style="margin-left: 1%"
                            th:onclick="'activerConsultation(\'' + ${consultation.getIdConsultation()} + '\');'">
                        Activer la consultation
                    </button>

                    <button th:if="${consultation.getExamenSouscritList().size() == 0} and ${consultation.getStatut() == 'EN_COURS'}"
                            class="btn btn-outline-primary" style="margin-left: 1%"
                            th:onclick="'deleteConsultation(\'' + ${consultation.getIdConsultation()} + '\',\'' + ${patient.getIdPersonne()} + '\');'">
                        <span class="fa fa-trash text-danger">Supprimer la consultation</span>
                    </button>

                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Libellé Examen</th>
                            <th>Date de prescription</th>
                            <th>Prix</th>
                            <th>Résultat</th>
                            <th>Facturé</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Libellé Examen</th>
                            <th>Date de prescription</th>
                            <th>Prix</th>
                            <th>Résultat</th>
                            <th>Facturé</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="examenSouscrit : ${consultation.getExamenSouscritList()}">
                            <td th:text="${examenSouscrit.getExamen().getLibelle()}"></td>
                            <td th:text="${examenSouscrit.getDate()}"></td>
                            <td th:text="${examenSouscrit.getExamen().getPrix()} + ' FCFA'"></td>
                            <td th:if="${examenSouscrit.valeurNormalePatient != -1}"
                                th:text="${examenSouscrit.getValeurNormalePatient()} + ' ' + ${examenSouscrit.getUnite()}"></td>
                            <td th:if="${examenSouscrit.valeurNormalePatient == -1}" th:text="''"></td>
                            <td th:if="${examenSouscrit.getFacture() == null}">Non</td>
                            <td th:if="${examenSouscrit.getFacture() != null}">Oui</td>
                            <td>
                                <button th:if="${examenSouscrit.getFacture() == null}"
                                        class="btn btn-outline-primary" style="margin-left: 1%"
                                        th:onclick="'deletebox(\'' + ${examenSouscrit.getIdExamenPasser()} + '\',\'' + ${patient.getIdPersonne()} + '\');'">
                                    <span class="fa fa-trash text-danger"></span>
                                </button>
                                <a th:href="@{/examenSouscrit/addValeurNormale/{idExamenSouscrit}(idExamenSouscrit=${examenSouscrit.getIdExamenPasser()})}"
                                   class="btn btn-outline-primary"
                                   style="margin-left: 1%">
                                    <span class="fa fa-plus"></span>
                                </a>

                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Consultation Modal-->
    <div class="modal fade" id="consultation" tabindex="-1" role="dialog" aria-labelledby="consultationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="consultationModalLabel">Création d'une consultation</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  th:action="@{/consultation/enregistrer/{id}(id=${patient.getIdPersonne()})}" method="post">
                        <fieldset>

                            <div class="form-group">
                                <label for="prescripteur">Médécin Responsable</label>
                                <input type="text" class="form-control" id="prescripteur" name="prescripteur"
                                />
                            </div>

                            <div class="form-actions" style="margin-top: 12px;">
                                <button type="submit" class="btn btn-success">Enregistrer</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragment/footer.html"></div>
</div>
</body>

</html>
