<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Ajouter Laboratoire</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Laboratoires</span>
            </li>
            <li class="breadcrumb-item active">Ajout d'un laboratoire</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                <span class="fa fa-flask text-success"></span> Ajout d'un laboratoire
            </div>
            <div class="card-body">
                <form name="f" action="#" th:action="@{/Gestion_Laboratoire_EMMAUS/laboratoire/enregistrer}"
                      method="post" th:object="${laboratoire}">
                    <fieldset>


                        <div class="form-group">
                            <label for="libelle">Nom du laboratoire</label>
                            <input type="text" th:field="*{libelle}" class="form-control" id="libelle" name="libelle"
                                   placeholder="libelle"/>
                            <span th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}"
                                  class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea th:field="*{description}" class="form-control" id="description" name="description"
                                      placeholder="Saisir une brève description"></textarea>
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                  class="errorlist"></span>
                        </div>


                        <div class="form-actions" style="margin-top: 12px;">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
        <div th:include="fragment/footer.html"></div>
    </div>
</div>
</body>

</html>
