<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Liste des laboratoires</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<script>
    function deletebox(idLaboratoire) {
        if (confirm("Voulez vous vraiment supprimer?")) {
            open("/laboratoire/delete/" + idLaboratoire, "_top");
        }
    }

</script>
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Laboratoires</span>
            </li>
            <li class="breadcrumb-item active">Liste des laboratoires</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')"
           th:href="@{/laboratoire/add-laboratoire}" style="margin: 1%">
            <i class="fa fa fa-flask ml-2">
                Ajout Laboratoire
            </i>
        </a>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-thermometer"></i> Liste des laboratoires
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Libellé</th>
                            <th>Description</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Libellé</th>
                            <th>Description</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="laboratoire : ${laboratoires}">
                            <td th:text="${laboratoire.getLibelle()}"></td>
                            <td th:text="${laboratoire.getDescription()}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <a
                                        th:href="@{/laboratoire/editer/{id}(id=${laboratoire.getIdLaboratoire()})}"
                                        class="btn btn-outline-primary">
                                    <i class="fa fa-edit text-warning"></i>
                                </a>
                                <a th:alt="'Afficher les examens disponibles dans un laboratoire'"
                                   th:href="@{/examen/listExamen/{id}(id=${laboratoire.getIdLaboratoire()})}"
                                   class="btn btn-outline-primary">
                                    <i class="fa fa-expand-alt"></i>
                                </a>
                                <button th:if="${laboratoire.getExamenList().size() == 0}"
                                        class="btn btn-outline-primary" style="margin-left: 1%"
                                        th:onclick="'deletebox(\'' + ${laboratoire.getIdLaboratoire()} + '\');'">
                                    <span class="fa fa-trash text-danger"></span>
                                </button>

                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragment/footer.html"></div>
</div>
</body>

</html>
