<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Liste des examens du laboratoire</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<script>
    function deletebox(idExamen) {
        if (confirm("Voulez vous vraiment supprimer?")) {
            open("/examen/delete/" + idExamen, "_top");
        }
    }

</script>

<nav th:replace="fragment/header.html"></nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/laboratoire/listLaboratoire}">Laboratoire</a>
            </li>
            <li class="breadcrumb-item active" th:text="${laboratoire.libelle}"></li>
            <li class="breadcrumb-item active">Liste des examens</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <a class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')"
           th:href="@{/examen/ajout-examen/{id}(id=${laboratoire.getIdLaboratoire()})}"
           style="margin: 1%">
            <i class="fa fa fa-thermometer ml-2">
                Ajout Examen
            </i>
        </a>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-thermometer"></i> Liste des examens
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Libellé</th>
                            <th>Valeur normale</th>
                            <th>Description</th>
                            <th>Prix</th>
                            <th>Date d'ajout</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Code</th>
                            <th>Libellé</th>
                            <th>Valeur normale</th>
                            <th>Description</th>
                            <th>Prix</th>
                            <th>Date d'ajout</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="examen : ${examens}">
                            <td th:text="${examen.getCode()}"></td>
                            <td th:text="${examen.getLibelle()}"></td>
                            <td th:text="'(' + ${examen.getMinValeur()} + '-'+ ${examen.getMaxValeur()}+')'"></td>
                            <td th:text="${examen.getDescription()}"></td>
                            <td th:text="${examen.getPrix()} + ' FCFA'"></td>
                            <td th:text="${examen.getDateAjout()}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <a
                                        th:href="@{/examen/editer/{id}(id=${examen.getIdExamen()})}"
                                        class="btn btn-outline-primary">
                                    <i class="fa fa-edit text-warning"></i>
                                </a>
                                <button th:if="${examen.getExamenSouscrits().size() == 0}"
                                        class="btn btn-outline-primary" style="margin-left: 1%"
                                        th:onclick="'deletebox(\'' + ${examen.getIdExamen()} + '\');'">
                                    <span class="fa fa-trash text-danger"></span>
                                </button>

                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragment/footer.html"></div>
</div>
</body>

</html>
