<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Modification des informations d'un examen</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Examens</span>
            </li>
            <li class="breadcrumb-item active">Modification des informations d'un examen</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                <span class="fa fa-thermometer text-success"></span> Modification
            </div>
            <div class="card-body">
                <form name="f" action="#"
                      th:action="@{/examen/modifier/{id}(id=${examen.getIdExamen()})}"
                      method="post" th:object="${examen}">
                    <fieldset>

                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" th:field="*{code}" class="form-control" id="code" name="code"
                                   placeholder="code"/>
                            <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="libelle">Libelle</label>
                            <input type="text" th:field="*{libelle}" class="form-control" id="libelle" name="libelle"
                                   placeholder="libelle"/>
                            <span th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}"
                                  class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea th:field="*{description}" class="form-control" id="description" name="description"
                                      placeholder="Saisir une brève description de l'examen"></textarea>
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                  class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="minValeur">Valeur minimale</label>
                            <input type="number" step="0.001" th:field="*{minValeur}" class="form-control"
                                   id="minValeur" name="minValeur"
                                   placeholder="valeur normale minimale"/>
                            <span th:if="${#fields.hasErrors('minValeur')}" class="errorlist">Valeur invalide</span>
                        </div>

                        <div class="form-group">
                            <label for="maxValeur">Valeur maximale</label>
                            <input type="number" step="0.001" th:field="*{maxValeur}" class="form-control"
                                   id="maxValeur" name="maxValeur"
                                   placeholder="valeur normale maximale"/>
                            <span th:if="${#fields.hasErrors('maxValeur')}" class="errorlist">Valeur invalide</span>
                        </div>

                        <div class="form-group">
                            <label for="prix">Prix</label>
                            <input type="number" th:field="*{prix}" class="form-control" id="prix" name="prix"
                                   placeholder="prix en FCFA"/>
                            <span th:if="${#fields.hasErrors('prix')}" class="errorlist">Prix invalide</span>
                        </div>

                        <div class="form-actions" style="margin-top: 12px;">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
        <div th:include="fragment/footer.html"></div>
    </div>
</div>
</body>

</html>
