<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link href="webjars/font-awesome/5.12.0/css/all.css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" rel="stylesheet" TYPE="text/css">
    <link href="style.css" th:href="@{/style.css}" rel="stylesheet">
    <title>Accueil</title>
</head>
<body>
<script>
    function deletebox(idPatient) {
        if(confirm("Voulez vous vraiment supprimer?")){
            open("/Gestion_Laboratoire_EMMAUS/Gestion_Laboratoire_EMMAUS/patient/delete/" + idPatient,"_top");
        }
    }
</script>
<header>
    <div class="container">
        <h1>Laboratoire<span class="highlight"> EMMAUS</span></h1>
        <span sec:authorize="hasRole('ROLE_UTILISATEUR')" class="highlight">Utilisateur </span>
        <span sec:authorize="hasRole('ROLE_MEDECIN')" class="highlight">Docteur </span>
        <span sec:authorize="hasRole('ROLE_ADMIN')" class="highlight">Administrateur </span>
        <span sec:authentication="name"></span>
        <nav>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_UTILISATEUR')"><a th:href="@{/Gestion_Laboratoire_EMMAUS/facture/list-facture}">Factures</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MEDECIN')"><a th:href="@{/Gestion_Laboratoire_EMMAUS/examen/listExamen}">Examens</a></li>

                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/Gestion_Laboratoire_EMMAUS/user/list}">Employés</a></li>
                <!--<li><a href="/logout">Logout</a></li>-->
            </ul>
        </nav>

    </div>
</header>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div class="container my-5">
                    <p class="my-5">
                        <span sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_UTILISATEUR')" class="float-lg-right"><a th:href="@{/logout}"   class="btn btn-outline-danger"><i class="fa fa-power-off">Se déconnecter</i></a></span>
                        <span sec:authorize="hasRole('ROLE_MEDECIN')" ><a th:href="@{/logout}"   class="btn btn-outline-danger"><i class="fa fa-power-off">Se déconnecter</i></a></span>

                        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_UTILISATEUR')" th:href="@{/Gestion_Laboratoire_EMMAUS/patient/ajout-patient}"   class="btn btn-primary"><i class="fas fa-user-plus ml-2">Ajout Patient</i></a>
                    </p>
                    <div class="col-md-12">
                        <h2 th:if="${patients.size() == 0}" class="highlight">Aucun patient</h2>
                        <div th:if="${patients.size() != 0}">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Téléphone</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="patient : ${patients}">
                                        <td th:text="${patient.getNom()}"></td>
                                        <td th:text="${patient.getPrenom()}"></td>
                                        <td th:text="${patient.getTelephone()}" ></td>
                                        <td>
                                            <a th:href="@{/Gestion_Laboratoire_EMMAUS/patient/editer/{id}(id=${patient.getIdPersonne()})}"
                                               sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_UTILISATEUR')" class="btn btn-outline-primary"><i class="fa fa-edit text-warning"></i></a>
                                            <button th:if="${patient.getExamenSouscrits().size() == 0}"
                                                    sec:authorize="hasRole('ROLE_ADMIN')"
                                                    class="btn btn-outline-primary"
                                                    style="margin-left: 1%"
                                                    th:onclick="'deletebox(\'' + ${patient.getIdPersonne()} + '\');'">
                                                <span class="fa fa-trash text-danger"></span>
                                            </button>
                                            <a th:href="@{/Gestion_Laboratoire_EMMAUS/examenSouscrit/profil-patient/{id}(id=${patient.getIdPersonne()})}"
                                                    class="btn btn-outline-primary"
                                                    style="margin-left: 1%">
                                                <span class="fa fa-expand-alt"></span>
                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>