<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>HOME</title>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<script>
    function deletebox(idPatient) {
        if (confirm("Voulez vous vraiment supprimer?")) {
            open("/patient/delete/" + idPatient, "_top");
        }
    }
</script>
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Patients</span>
            </li>
            <li class="breadcrumb-item active">Liste des patients</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->
        <a class="btn btn-primary" th:href="@{/patient/ajout-patient}"
           style="margin: 1%">
            <i class="fa fa-user-plus ml-2">
                Ajout Patient
            </i>
        </a>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-address-book"></i> Liste des patients
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Téléphone</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Téléphone</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="patient : ${patients}">
                            <td th:text="${patient.getNom()}"></td>
                            <td th:text="${patient.getPrenom()}"></td>
                            <td th:text="${patient.getTelephone()}"></td>
                            <td>
                                <a th:href="@{/patient/editer/{id}(id=${patient.getIdPersonne()})}"
                                   sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_UTILISATEUR')"
                                   class="btn btn-outline-primary"><i class="fa fa-edit text-warning"></i></a>
                                <button th:if="${patient.getExamenSouscrits().size() == 0 && patient.getConsultations().size() == 0}"
                                        sec:authorize="hasRole('ROLE_ADMIN')"
                                        class="btn btn-outline-primary"
                                        style="margin-left: 1%"
                                        th:onclick="'deletebox(\'' + ${patient.getIdPersonne()} + '\');'">
                                    <span class="fa fa-trash text-danger"></span>
                                </button>
                                <a th:href="@{/examenSouscrit/profil-patient/{id}(id=${patient.getIdPersonne()})}"
                                   class="btn btn-outline-primary"
                                   style="margin-left: 1%">
                                    <span class="fa fa-expand-alt"></span>
                                </a>

                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <div th:include="fragment/footer.html"></div>
</div>
</body>

</html>
