<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Liste des utilisateurs du laboratoire</title>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<script>

    function deletebox(idUser) {
        if (confirm("Voulez vous vraiment supprimer?")) {
            open("/user/deleteUser/" + idUser, "_top");
        }
    }

    function deactivateUser(idUser) {
        if (confirm("Voulez vous vraiment désactiver l'utilisateur?")) {
            open("/user/deactivateUser/" + idUser, "_top");
        }
    }

    function activateUser(idUser) {
        if (confirm("Voulez vous vraiment activer l'utilisateur?")) {
            open("/user/activateUser/" + idUser, "_top");
        }
    }
</script>
<nav th:replace="fragment/header.html"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Utilisateurs</span>
            </li>
            <li class="breadcrumb-item active">Liste des utilisateurs</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <a class="btn btn-primary" th:href="@{/user/add-user}" style="margin: 1%">
            <i class="fa fa-user-plus ml-2">
                Ajout Utilisateur
            </i>
        </a>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-address-book"></i> Liste des utilisateurs
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="utilisateur : ${utilisateurs}">
                            <td th:text="${utilisateur.getNom()}"></td>
                            <td th:text="${utilisateur.getPrenom()}"></td>
                            <td th:text="${utilisateur.getEmail()}"></td>
                            <td th:text="${utilisateur.getTelephone()}"></td>
                            <td th:text="${utilisateur.getRole()}"></td>
                            <td>
                                <a th:if="${utilisateur.getRole()} !='ADMIN'"
                                   th:href="@{/user/editer/{id}(id=${utilisateur.getIdPersonne()})}"
                                   class="btn btn-outline-primary">
                                    <i class="fa fa-edit text-warning"></i>
                                </a>
                                <a th:if="${utilisateur.getRole()} =='ADMIN'"
                                   th:href="@{/user/editerAdmin/{id}(id=${utilisateur.getIdPersonne()})}"
                                   class="btn btn-outline-primary">
                                    <i class="fa fa-edit text-warning"></i>
                                </a>
                                <button
                                        class="btn btn-outline-primary"
                                        th:if="${utilisateur.getRole()} !='ADMIN' and  ${utilisateur.getFactures().size() ==0}"
                                        style="margin-left: 1%"
                                        th:onclick="'deletebox(\'' + ${utilisateur.getIdPersonne()} + '\');'">
                                    <span class="fa fa-trash text-danger"></span>
                                </button>
                                <button th:if="${utilisateur.getRole()} !='ADMIN' and ${utilisateur.isActive() ==true}"
                                        class="btn btn-outline-primary"
                                        style="margin-left: 1%"
                                        th:onclick="'deactivateUser(\'' + ${utilisateur.getIdPersonne()} + '\');'">
                                    <span class="fa fa-eye"></span>
                                </button>
                                <button th:if="${utilisateur.role} !='ADMIN' and ${utilisateur.isActive() ==false}"
                                        class="btn btn-outline-primary"
                                        style="margin-left: 1%"
                                        th:onclick="'activateUser(\'' + ${utilisateur.getIdPersonne()} + '\');'">
                                    <span class="fa fa-eye-slash"></span>
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:include="fragment/footer.html"></div>
</div>
</body>

</html>
