<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css"  rel="stylesheet" type="text/css">
    <link href="webjars/font-awesome/5.12.0/css/all.min.css" th:href="@{/webjars/font-awesome/5.12.0/css/all.min.css}" rel="stylesheet" TYPE="text/css">
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
    <title>Connexion</title>
</head>
<body>
<header>
    <div class="container">
        <h1>Labo<span class="highlight">ratoire</span></h1>
    </div>
</header>
<div class="container">
    <div style="width:60%;margin-left: auto;margin-right: auto;margin-top:5%;padding: 1%;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> Veuillez vous connecter
            </div>
            <div class="card-block" style="padding: 3%;">
                <form name="f" th:action="@{/login}" method="post">
                    <fieldset>
                        <!-- Thymeleaf + Spring Security error display -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            Email ou mot de passe invalide
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            Vous vous êtes déconnectés.
                        </div>

                        <!-- Login Controls -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="email"/>
                        </div>

                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Mot de passe">
                        </div>


                        <!-- Login Button -->
                        <div class="form-actions" style="margin-top: 3%;">
                            <button type="submit" class="btn btn-success">Se Connecter</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer fixed-bottom">
    <p>Lab Management, Copyright &copy; 2020 </p>
    <p>Made By Norman Mbouende</p>
</footer>

</body>
</html>
