<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modifier admin</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link href="webjars/font-awesome/5.12.0/css/all.css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" rel="stylesheet" TYPE="text/css">
    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" th:href="@{/css/sb-admin.css}"  rel="stylesheet">
    <link href="style.css" th:href="@{/style.css}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="@{/}" ><span style="color:white;">LABORATOIRE</span> <span class="highlight">EMMAUS</span></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" th:href="@{/}">
                    <i class="fa fa-fw fa-home text-primary"></i>
                    <span class="nav-link-text">Acceuil</span>
                </a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_UTILISATEUR')" class="nav-item" data-toggle="tooltip" data-placement="right" title="Facture">
                <a class="nav-link" th:href="@{/Gestion_Laboratoire_EMMAUS/facture/list-facture}">
                    <i class="fa fa-fw fa-money-bill text-success"></i>
                    <span class="nav-link-text">Factures</span>
                </a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MEDECIN')" class="nav-item" data-toggle="tooltip" data-placement="right" title="Examens">
                <a class="nav-link" th:href="@{/Gestion_Laboratoire_EMMAUS/laboratoire/listLaboratoire}">
                    <i class="fa fa-fw fa-flask text-danger"></i>
                    <span class="nav-link-text">Laboratoire</span>
                </a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" data-toggle="tooltip" data-placement="right" title="Employees">
                <a class="nav-link" th:href="@{/Gestion_Laboratoire_EMMAUS/user/list}">
                    <i class="fa fa-fw fa-user text-warning"></i>
                    <span class="nav-link-text">Employés</span>
                </a>
            </li>

        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="padding-right: 1%;">
                <span sec:authorize="hasRole('ROLE_UTILISATEUR')" class="highlight">Utilisateur </span>
                <span sec:authorize="hasRole('ROLE_MEDECIN')" class="highlight">Docteur </span>
                <span sec:authorize="hasRole('ROLE_ADMIN')" class="highlight">Administrateur </span>
                <span sec:authentication="name" style="color: white;"></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out-alt"></i>Se déconnecter</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span>Utilisateur</span>
            </li>
            <li class="breadcrumb-item active">Modifier les informations de l'administrateur</li>
        </ol>
        <!-- Icon Cards-->

        <!-- Area Chart Example-->

        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                <span class="fa fa-user text-success"></span> Modification
            </div>
            <div class="card-body">
                <form name="f" action="#" th:action="@{/Gestion_Laboratoire_EMMAUS/user/modifierAdmin/{id}(id=${utilisateur.getId()})}" method="post" th:object="${utilisateur}">
                    <fieldset>

                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" th:field="*{nom}" class="form-control" id="nom" name="nom"
                                   placeholder="Nom"/>
                            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="prenom">Prenom</label>
                            <input type="text" th:field="*{prenom}" class="form-control" id="prenom" name="prenom"
                                   placeholder="Prenom"/>
                            <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="date">Date de naissance</label>
                            <input type="date" th:field="*{date}" class="form-control" id="date" name="date"
                                   placeholder="dd-MM-yyyy"/>
                            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="errorlist"></span>
                        </div>
                        <div class="form-group">
                            <label for="oldmdp">Ancien mot de passe</label>
                            <input type="password" th:field="*{oldPassword}" class="form-control" id="oldmdp" name="oldmdp"
                                   placeholder="Ancien mot de passe"/>
                            <span th:if="${utilisateur.oldPassword} != '' or ${utilisateur.oldPassword} == 'test'" class="errorlist">Ancien mot de passe incorrect</span>
                        </div>
                        <div class="form-group">
                            <label for="mdp">Mot de passe</label>
                            <input type="password" th:field="*{mdp}" class="form-control" id="mdp" name="mdp"
                                   placeholder="mot de passe"/>
                            <span th:if="${#fields.hasErrors('mdp')}" th:errors="*{mdp}" class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="conf">Confirmer le mot de passe</label>
                            <input type="password" th:field="*{conf}" class="form-control" id="conf" name="conf"
                                   placeholder="Confirmer mot de passe"/>
                            <span th:if="${#fields.hasErrors('conf')}" class="errorlist">Les mots de passe </span>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" th:field="*{email}" class="form-control" id="email" name="email"
                                   placeholder="email"/>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errorlist"></span>
                        </div>

                        <div class="form-group">
                            <label for="telephone">Telephone</label>
                            <input type="number" th:field="*{telephone}" class="form-control" id="telephone" name="telephone"
                                   placeholder="Telephone"/>
                            <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" class="errorlist">Numero invalide</span>
                        </div>

                        <div class="form-group">
                            <label>Sexe: </label>
                            <input th:field="*{sexe}"  type="radio" name="sexe" value="MASCULIN" checked/>Masculin
                            <input th:field="*{sexe}"  type="radio" name="sexe" value="FEMININ"/>Feminin
                        </div>

                        <div class="form-actions" style="margin-top: 3%;">
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © LABORATOIRE EMMAUS</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Voulez vous vraiment vous déconnecter?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>


                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" th:href="@{/logout}">Se déconnecter</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
        <!-- Page level plugin JavaScript-->
        <script src="vendor/chart.js/Chart.min.js" th:src="@{/vendor/chart.js/Chart.min.js}"></script>
        <script src="vendor/datatables/jquery.dataTables.js" th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.js" th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin.min.js" th:src="@{/js/sb-admin.min.js}"></script>
        <!-- Custom scripts for this page-->
        <script src="js/sb-admin-datatables.min.js" th:src="@{/js/sb-admin-datatables.min.js}"></script>
        <script src="js/sb-admin-charts.min.js" th:src="@{/js/sb-admin-charts.min.js}"></script>
    </div>
</div>
</body>

</html>
